.set{
    margin-top: 150px;
}
.set .text-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.settingicon{
  color: oklch(67.3% .182 276.935);
  font-size: 55px;
  font-weight: 600;
  animation: rotate 10s linear infinite;
}
.set h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(2/1.5);
}
.set p{
    color: #717182;
    font-weight: 400;
    font-size: 16px;
}